################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstMettingWithCSharp/.vs
/FirstTask/.vs/FirstTask
/SecondTask/.vs/SecondTask
/FirstTask/.vs/ProjectEvaluation
/FirstTask/FirstTask/bin/Debug/net8.0
/SecondTask/SecondTask/bin/Debug/net8.0
/SecondTask/.vs/ProjectEvaluation
/ThirdTask/.vs
