################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstMettingWithCSharp/.vs
/FirstTask/.vs/FirstTask
